{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <form action="{% url 'payment'  %}" method="POST">
        {% csrf_token %}
    <div class="row">
        <aside class="col-lg-6">
            <div class="card">
       <div class="card-body">
        <h4 class="card-title mb-4">Billing Address</h4>
            <div class="form-row">
                <div class="form-group col">
                    <label for="">First Name</label>
                    {{form.first_name}}
                </div>

                <div class="form-group col">
                    <label for="">Last Name</label>
                    {{form.last_name}}
                </div>
                </div>
                <div class="form-row">
                <div class="form-group col">
                    <label for="">Email</label>
                    {{form.email}}
                </div>

                <div class="form-group col">
                    <label for="">Phone Number</label>
                   {{form.phone}}
                </div>
                    </div>
                    <div class="form-row">
                <div class="form-group col">
                    <label for="">Address Line 1</label>
                    {{form.address_line_1}}
                </div>

                <div class="form-group col">
                    <label for="">Address Line 2</label>
                    {{form.address_line_2}}
                </div>
                </div>
                <div class="form-row">
                <div class="form-group col">
                    <label for="">Post Code</label>
                    {{form.postcode}}
                </div>

                <div class="form-group col">
                    <label for="">City</label>
                   {{form.city}}
                </div>

                <div class="form-group col">
                    <label for="">Country</label>
                   {{form.country}}
                </div>
                </div>

            <div class="form-row">
                <label for="">Order Note</label>
                {{form.order_note}}
            </div>
           
        
       </div>
   
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-6">
    
            <div class="card">
            <div class="card-body">
                <table class="table table-borderless table-shopping-cart">
        
                    <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col">Product</th>
                      <th scope="col" width="120">Quantity</th>
                      <th scope="col" width="120">Price</th>
                      
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in cartItems %}
                    <tr>
                        <td>
                            <figure class="itemside align-items-center">
                                <div class="aside"><a href="{{item.product.get_url}}"><img src="{{item.product.image.url}}" class="img-sm"></a></div>
                                <figcaption class="info">
                                    <a href="{{item.product.get_url}}" class="title text-dark">{{item.product.name}}</a>
                                    <p class="text-muted small">
                                        {% for var in item.variation.all %}
                                            {{var.variation_category|capfirst}} : {{var.variation_value|capfirst}} <br> 
                                        {% endfor %}
                                    </p>
                                </figcaption>
                            </figure>
                        </td>
                        <td class="text-center "> 
                            <!-- col.// -->
                            <label >            
                                 {{item.quantity}} 
                              </label>         
                        </td>
                        <td> 
                            <div class="price-wrap"> 
                                <var class="price">&pound;{{item.product.price|mul:item.quantity|floatformat:2}}</var> 
                                <small class="text-muted"> &pound;{{item.product.price|floatformat:2}} each </small> 
                            </div> <!-- price-wrap .// -->
                        </td>
                        
                    </tr>
                    {% endfor %}
                
                    
                    </tbody>
                    
                  
                    </table>
                
                <button type="submit" class="btn btn-outline-primary btn-block">Place Order</button>
                <a href="{% url 'store' %}" class="btn btn-outline-secondary btn-block">Continue Shopping</a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
        </aside> <!-- col.// -->
        
        
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
</form>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
{% endblock %}