{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container ">
        {% if 'search' in request.path %}
        <h2 class="title-page">Search resualt:  <span class="text-success">Found  {{product_count}}  Items.</span></h2>
        {% else %}
        <h2 class="title-page">Our Store</h2>
        {% endif %}
    </div> <!-- container //  -->
    </section> 
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">
                    
                    <ul class="list-menu">
                        <li><a href="{% url 'store'%}">All Products </a></li>
                        {% for category in links %} 
                        <li><a href="{{category.get_url}}">{{category.name}} </a></li>
                    {% endfor %}
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Sizes </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_4" style="">
                <div class="card-body">
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> XS </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> SM </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> LG </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> XXL </span>
                  </label>
            </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Price range </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
                <div class="card-body">
                    
                    <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Min</label>
                      <!-- <input class="form-control" placeholder="$0" type="number"> -->
                          <select class="mr-2 form-control">
                            <option value="0">$0</option>
                            <option value="50">$50</option>
                            <option value="100">$100</option>
                            <option value="150">$150</option>
                            <option value="200">$200</option>
                            <option value="500">$500</option>
                            <option value="1000">$1000</option>
                        </select>
                    </div>
                    <div class="form-group text-right col-md-6">
                      <label>Max</label>
                          <select class="mr-2 form-control">
                            <option value="50">$50</option>
                            <option value="100">$100</option>
                            <option value="150">$150</option>
                            <option value="200">$200</option>
                            <option value="500">$500</option>
                            <option value="1000">$1000</option>
                            <option value="2000">$2000+</option>
                        </select>
                    </div>
                    </div> <!-- form-row.// -->
                    <button class="btn btn-block btn-primary">Apply</button>
                </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto badge bg-warning text-light">{{paginator.object_list|length}} Of {{product_count}} Items. </span>
                
            </div>
    </header><!-- sect-heading -->
    
    <div class="row">
    {% if not product_count %}
        <h2>There is no product to show.</h2>
        <br>
        <h2>Please try again.</h2>
    {% else %}
       {% for product in paginator.object_list %}
        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                   <a href="{{product.get_url}}"> 
                    <img src="{{product.image.url}}">
                    </a>
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="{{product.get_url}}" class="title">{{product.name}}</a>
                        <div class="price-wrap mt-2">
                            <span class="price">&pound;{{product.price}}</span>
                        
                        </div> <!-- price-wrap.// -->
                    </div>
                    {% if product.stock > 0 %}
                    <a href="{{product.get_url}}" class="btn btn-block btn-success">Added to cart </a>
                    {% else %}
                    <button class="btn btn-block btn-danger">Out Of Stock</button>
                    {% endif %}
                </figcaption>
            </figure>
        </div> <!-- col.// -->
    {% endfor %}
        
    </div> <!-- row end.// -->
    {% endif %}
    
    {% if paginator.has_other_pages %}
    <nav class="mt-4" aria-label="Page navigation sample">
      <ul class="pagination">
        {% if paginator.has_previous %}
        <li class="page-item "><a class="page-link"  href="?{%if keyword %}keyword={{keyword}}&{%endif%}page={{paginator.previous_page_number}}" >Previous</a></li>
        {% else %}
        <li class="page-item  disabled "><a class="page-link"  href="#" >Previous</a></li>
        {% endif %}
        {% for page in paginator.elided  %} 
            {% if paginator.number == page %}
                <li class="page-item active"><a class="page-link" href="?{%if keyword %}keyword={{keyword}}&{%endif%}page={{page}}">{{page}}</a></li>
            {% else %}
                {% if page == paginator.ELLIPSIS %}
                    <li class="page-item"><span class="page-link">{{paginator.ELLIPSIS}}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?{%if keyword %}keyword={{keyword}}&{%endif%}page={{ page }}">{{ page }}</a> </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if paginator.has_next %}
        <li class="page-item  "><a class="page-link"  href="?{%if keyword %}keyword={{keyword}}&{%endif%}page={{paginator.next_page_number}}">Next</a></li>
        {% else %}
        <li class="page-item  disabled"><a class="page-link" href="#">Next</a></li>
         {% endif %}
    </ul>
</nav>
{% endif %} 
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
{% endblock %}